{% if settings.brand_status %}

    {% set featured_brands = [] %}

    {% for i in 1..20 %}
        {% if settings['brand_name_' ~ i] != '' and settings['brand_link_' ~ i] != '' and settings['brand_image_' ~ i] != '' %}
            {% set featured_brands = featured_brands|merge([{
                "name": settings['brand_name_' ~ i],
                "link": settings['brand_link_' ~ i],
                "image": settings['brand_image_' ~ i]
            }]) %}
        {% endif %}
    {% endfor %}

    {% if featured_brands|length > 0 %}
        <div class="featured-brands featured-brands-no-slide">
            <div class="container">
                {% if settings.brand_title %}
                    <div class="section-header">
                        <h2 class="title-section">{{ settings.brand_title }}</h2>
                    </div>
                {% endif %}
                <div class="swiper-container">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            {% for featured_brand in featured_brands %} 
                                <div class="swiper-slide">
                                    <a href="{{ featured_brand.link }}" title="{{ featured_brand.name }}">
                                        <img src="{{ asset(featured_brand.image) }}" alt="{{ featured_brand.name }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-button prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 12.125 22.666">
                            <path d="M21.109.265a.917.917,0,0,1,1.29,0,.9.9,0,0,1,0,1.277L11.978,11.86a.917.917,0,0,1-1.29,0L.267,1.542a.9.9,0,0,1,0-1.277.917.917,0,0,1,1.29,0l9.776,9.41L21.108.265Z" transform="translate(12.125) rotate(90)" fill="#151414"/>
                        </svg>
                    </div>
                    <div class="swiper-button next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 12.125 22.666">
                            <path d="M21.109.265a.917.917,0,0,1,1.29,0,.9.9,0,0,1,0,1.277L11.978,11.86a.917.917,0,0,1-1.29,0L.267,1.542a.9.9,0,0,1,0-1.277.917.917,0,0,1,1.29,0l9.776,9.41L21.108.265Z" transform="translate(0 22.666) rotate(-90)" fill="#151414"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endif %}