{% if total is not defined %}
    {% set total = false %}
{% endif %}

<div class="product-rating flex">
    {% for rating in 1..5 %}
        {% if review.rating >= rating %}
            <div class="icon active"></div>
        {% else %}
            <div class="icon"></div>
        {% endif %}
    {% endfor %}

    {% if total %}
        <a href="javascript:void(0)" rel="noreferrer noopener" class="total">
            {% if review.count == 0 %}
                Seja o primeiro a opinar
            {% else %}
                {{ review.count }} Opini&otilde;es
            {% endif %}
        </a>
    {% endif %}
</div>